{% extends "blog/base.html"%}
{% load static %}


{%block css_file%} 
 <link rel="stylesheet", href="{% static "blog/css/post-detail.css"%}">
 <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
{%endblock%}




{% block content %}
<center><h2 style="margin: 10px;"> Add a Discussion Tag</h2></center>
<main>
	<script>
		var existing_tags = {{existing_tags|safe}};
		$( function() {
		  var availableTags = existing_tags;
		  $( "#tags" ).autocomplete({
			source: availableTags
		  });
		} );
		</script>
	  </head>
	<body>
	<p>Create new discussion or research tags on this page. <strong>When entering the name of a new tag, the system will display the tags that already exist on the portal</strong>. Please do not try to create a duplicate of a tag.
	Duplicate tags will be rejected by the system.
	</p>
	<form method="POST" enctype="multipart/form-data"> 
		{% csrf_token %}
		<div class="ui-widget">
		<label for="tags">Tag name: </label>
		<input id="tags" name="{{formT.caption.name}}" type="text" placeholder="Enter new tag name">	
		<br>
		<label for="tags">Tags description </label>
		<input id="tag_description" name="{{formT.description.name}}" type="text" placeholder="Enter new tag description">	
		</div>
		<br>
		<button type="submit" class="btn btn-light">Add tag</button>
	  </body>
	</form> 

    <!-- <form method="POST" enctype="multipart/form-data"> 
		{{ formT.source }}
        {% csrf_token %}
        <!-- {{formT.as_p}} 
		<label>
			New Tag Caption:
		</label>
		{{formT.caption}}
		<br>
		<label>
			New Tag Description:
		</label>
		{{formT.description}}
		<br>
        <button type="submit" class="btn btn-light">Add tag</button>
    </form> 

	<script>
		$(function() {

		}
	</script> -->


</main>
   

{% endblock %}