{% extends 'blog/base.html' %}

{% load static %}
{%block css_file%} 
 <link rel="stylesheet", href="{% static "blog/css/post-update.css"%}">
{%endblock%}
{%block content %} 


    <center><h1 style="color: #012c50; margin-top: 15px;"> Add Post </h1><br/></center>
    
    <main>
            <a href="{% url 'share-thoughts' %}">Back To Feed</a>
        
    </main>
    <main>
        <form method="POST" enctype="multipart/form-data"> 
            {% csrf_token%}
            {{ formP.as_p }}
            
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </main>


{% endblock %}