{% extends "blog/base.html"%}
{% load static %}

{%block title%} {{post.title}} {% endblock %}

{%block css_file%} 
 <link rel="stylesheet", href="{% static "blog/post-detail.css"%}">
{%endblock%}


{% block content %}
  <section id="summary">
      <h2>{{post.title}}</h2>
      <div>
          {%for tag in tags %}
            <span class="tagged"> {{tag.caption}}</span>
          {% endfor%}
      </div>
      <article>
          <img src="{{post.image.url}}" alt="{{post.title}}">
          <address>By {{post.author}}</address>
          <div>Last updated on <time> {{post.date |date:"d M Y" }}</time></div>
      </article>
  </section>

  <main>
    {{post.content}}
  </main>
  <main>
    <h2> Comments..</h2>
    {% if not comments.all %}
        No Comments Yet.... <a href="">Add Comment</a>
    {% else %}
        {% for comment in comments.all %}
            <strong>
                {{comment.name}} -
                {{comment.date_added}}
            </strong>
            {{comment.body}}
            <br>
            
        {% endfor%}
    {% endif %}
    <hr>
    <h2> Add a new comment</h2>
    <div class="row mr-10"> 
        <div class="col-md-6">
            <form method="POST" enctype="multipart/form-data"> 
              {% csrf_token %}
              {{formC.as_p}}
              <button type="submit" class="btn btn-success">Post</button>
            </form>    
        </div>
    </div>
  </main>
      <hr>
    
    <main>
      <a class="btn btn-info"href="{{post.slug}}/edit"> Update</a>
      <a href="{%url 'share-thoughts'%}" class="btn btn-secondary">Back</a>
    </main>
  
{% endblock %}