{% extends "blog/base.html"%}
{% load static %}

{%block title%} {{post.title}} {% endblock %}

{%block css_file%} 
<link rel="stylesheet", href="{% static "blog/css/register.css"%}">
{%endblock%}


{% block content %}
<center><h2 style="margin: 10px; color: #012c50;"> Register</h2></center>
    <main> 
            <form method="POST" enctype="multipart/form-data"> 
                {% csrf_token %}
                {{formU.as_p}}
                <!--{{formP.as_p }} -->
				
                <div class="jumbotron">
                    <h4 style="margin-bottom: 20px;"> Disclaimer: Privacy Statement</h4>

                    <p>
                        <ul class="a_list">
                            <strong>Introduction:</strong>
                            <li>
                                This privacy statement will inform you what the CSIR will do with the Personal Information it collects from you. It also indicates your rights as a data subject.
                            </li><br>
                            <strong>Application of this Privacy Statement:</strong>
                            <li>
                                This privacy statement will apply to the CSIR and the Personal Information supplied by you.
                                 It includes any processing or further processing of the Personal Information by any Operators duly appointed by the CSIR;
                            </li><br>
                            <strong>Purpose for the collection:</strong>
                            <li>
                                To make contact with you and attending to your or the CSIR’s enquiries and requests;
                            </li>
                            <li>
                                For research and statistical analysis purposes, including data analysis;
                            </li>
                            <li>
                                For pursuing and protecting your and/or the CSIR’s legitimate interest, or that of a third party to whom the Personal Information is supplied;
                            </li>
                            <li>
                                To perform internal operations, including administrative duties like maintaining, storing and reporting on the requests received to any regulatory bodies and internally to management;
                            </li>
                            <li>
                                To assist with creating a better understanding of the logistics research space in Southern Africa and the parties that are involved in each respective space;
                            </li>
                            <li>
                                To facilitate constructive discussion regarding various topics in the logistics research space, and to assist interested parties with information that can be used to better guide research efforts;
                            </li>
                            <li>
                                Allow for the creation of a visualized network of research areas and the various stakeholders that have an interest in each research space.
                            </li><br>
                            <strong>Implications of withholding consent or Personal Information:</strong>
                            <li>
                                The CSIR requires your Personal Information for the purposes indicated above, and your explicit consent is mandatory to process the aforementioned Personal Information;
                            </li>
                            <li>
                                Should you elect to withhold consent for the CSIR to process your Personal Information, then the CSIR will be unable to engage with you and/or enter into any subsequent working relationship with you.
                            </li><br>
                            <strong>Storage, retention and destruction of information</strong>
                            <li>
                                Your Personal Information will be stored either physically in the record storerooms or electronically in a centralised database, which, for operational reasons, will be accessible on a need to know and business basis;
                            </li>
                            <li>
                                The CSIR undertakes to conduct regular audits regarding the safety and security of your Personal Information;
                            </li>
                            <li>
                                Once the Personal Information is no longer required because the purpose for which it was held has expired, your Personal Information will be safely and securely archived for the requisite and prescribed retention periods as required by the law. 
                                On expiration of this retention period, the CSIR will permanently destroy your Personal Information or send it to approved external storage facilities that are PoPIA compliant, as the case may be.
                            </li><br>
                            <strong>Access by others and cross border transfers:</strong>
                            <li>
                                The CSIR may have to disclose your Personal Information to other parties, including potential staff members that will participate in your research project, auditors, regulatory bodies, and/or government officials.
                                 The CSIR will always ensure that there is a legitimate reason for such disclosure and that your Personal Information is handled with strict confidentiality and data security conditions;
                            </li>
                            <li>
                                Your Personal Information will not be transferred across the borders of South Africa.
                            </li><br>
                            <strong>Right to object and complaints:</strong>
                            <li>
                                You are encouraged to make immediate contact with the CSIR’s Privacy Office at any time if you are not comfortable or satisfied with the manner in which the CSIR is processing your Personal Information. On receipt of your objection, the CSIR will place a hold on any further processing until the cause of the objection has been resolved. 
                                If you are still not satisfied with such process, you have the right to lodge a complaint with the Information Regulator at inforeg@justice.gov.za.
                            </li><br>
                            <strong>Accuracy of information and responsibility:</strong>
                            <li>
                                PoPIA requires that all your Personal Information and related details, as supplied are complete, accurate and up-to-date. It will be your responsibility to advise the CSIR of any changes to the Personal Information, as and when these may occur.
                            </li><br>
                            <strong>Access to the information by the Data Subject</strong>
                            <li>
                                You have the right at any time to ask the CSIR to provide you with the details of the Personal Information which the CSIR holds on your behalf; and/or the purpose for which it has been used, provided that such request is made using the standard Section 14 CSIR PAIA process, which can be accessed by downloading and completing the standard request for information form, housed under the CSIR’s Section 14 PAIA Manual which can be found on the CSIR’s website at www.csir.co.za. 
                            </li><br>
                            <strong>Declaration and informed consent</strong>
                            <li>
                                You confirm that the Personal Information, provided to the CSIR is accurate, up-to-date, not misleading and is complete in all respects, save where same may change and then in such event, you undertake to advise the CSIR of these changes. 
                            </li>
                            <li>
                                In providing the required Personal Information to the CSIR, you consent and give the CSIR permission to process and further process your Personal Information as and where required and acknowledge that you understand the purposes for which the Personal Information is required and for which it will be used.
                            </li>
                            <br><br>
                            <p>
                                For further information, contact:<br>
                                CSIR Privacy Office<br>
                                privacy@csir.co.za
                            </p>
                            <br>
                            <p>
                                Physical Address:<br>
                                Privacy Office, Building 23<br>
                                Meiring Naudé Road<br>
                                Brummeria<br>
                                Pretoria<br>
                                South Africa
                            </p>
                            <br>
                            <p>
                                Postal Address:<br>
                                Privacy Office, Building 23<br>
                                PO Box 395<br>
                                Pretoria 001<br>
                                South Africa<br>
                                Tel: 012 842 7235
                            </p>
                        </ul>
                        
                    </p>
                </div>
				<p><strong>If you wish for other users of the discussion portal to see your email address, please op in when updating your profile.</strong></p>
                <button type="submit" class="btn btn-light">Submit</button>
            </form>
    </main>
    
{% endblock %}