{% extends 'blog/base.html'%}
{% load static %}
{% get_media_prefix %}
{% block content%}

  <head>
    <title>Network</title>
    <script
      type="text/javascript"
      src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"
    ></script>
    <style type="text/css">
      #mynetwork {
        width: 100%;
        height: 100%;
        border: 1px solid lightgray;
		margin: auto;
      }
    </style>
  </head>
  <body>
	<div style="height: 100em;">
	<h1 style="text-align: center;"><strong>
		Research network
	</strong>
	</h1>
	<p><center>This is the Logistics Concersation network diagram. Here, all registered members of the portal are displayed aloong with the research topics that they have indicated that they are working on. <br>
	Click on a registered member to see more inforation regarding that person or hover over a research topic to see more information regarding that research tag. <br>
	Please remember to select the research fields that you are working on under your profile to better populate the network graph.
	
	</center></p>
	<!-- <button id="changeNetworkButton">Change network to Institutes and Tags</button> -->
    <div id="mynetwork"></div>
    <script type="text/javascript">
		// Create a network using the vis js package. The nodes have to be in an array format (created in the view.py file where the nodes have specific keywords that must be present.) The connections have to be in the format of from and to where the values must match the ids that are assigned to nodes.
		var networkState = 1;
		var profiles_data = {{profiles_tags|safe}};
		var profiles_tags_connections = {{profile_tags_connections|safe}};

		var DIR = "../media/";
		var nodesT = [];

		var edges = profiles_tags_connections;

		var nodes = new vis.DataSet(profiles_data);

		var container = document.getElementById("mynetwork");
		var data = {
			nodes: nodes,
			edges: edges,
		};
		// Adds navigation functions to the network graph 
		var options = {
			interaction: {
			navigationButtons: true,
			keyboard: true,
			},
		};
		var network = new vis.Network(container, data, options);


		//when a user preses on a node that is a profile, a page that links to that profile will be opened
		network.on("click",function(params){
			if(params.nodes.length){
				var node = nodes.get(params.nodes[0]);
				window.open(node.url,"_blank");
			}
		})
		</script>
		</div>
  </body>
</html>
{% endblock%}