{% extends 'blog/base.html'%}
{% load static %}

{% block content%}
    <h2 style="text-align: center; margin-top: 50px; color: #012c50; font-family: Times, serif;"><strong>WHO DOES WHAT?</strong> </h2> <hr>
    <h5 style="text-align: center;">Click on the following link to be directed to the Logistics Conversation Research Community. <a href='https://kumu.io/gardenjane/permaculture-in-Ontario#projects/east AND https://kumu.io/Ewulu/sacn-stakeholder-mapping#sacn-stakeholder-mapping AND https://www.wits.ac.za/sacp/news-and-opinion/news-items/urban-data-and-analytics-emerging-opportunities-in-johannesburg-and-south-africa.html'>Click Me</a></h5>
{% endblock%}