
{% load static %}
{% load custom_tags %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'home-page'%}">Home </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'about-us'%}">About </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{%url 'share-thoughts'%}">Share Thoughts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{%url 'research-community'%}">Research Community</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'research-agenda'%}">Research Agenda</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'add-tag'%}">Add Discussion Tag</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'what-if'%}">What if</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'contact-us'%}">Contact</a>
          </li>
      </ul>
      <form class="form-inline my-2  my-lg-0">
        {% if user.is_authenticated %}
        
        <div class="nav-item mx-10">
          {% show_notifications %}
        </div>
        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"><i class="fas fa-user"></i></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{%url 'profile' user.profile.id %}">Profile</a></li>
            <li><a class="dropdown-item" href="{%url 'user-logout'%}">Logout</a></li>
          </ul>
        </div>
        
        {% else%}
        <a href="{%url 'register-user'%}" class="btn btn-outline-info my-2 my-sm-0" type="submit">Register</a>
        
        <a href="{%url 'user-login'%}" class="btn btn-outline-info my-2 my-sm-0" type="submit">Login</a>
        {% endif %}
      </form>
    </div>
  </nav>